<div class="reports-container pt-3">
  {{#each reports as |item|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{item.type}}{{/text.headline}}
          {{#text.subhead}}{{item.value}}{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  {{/each}}
  {{log 'chardata' chartData}}
  <div class="trends__highchart highchart-wrapper">
    {{#if isTrendsFulfilled}}
      {{high-charts chartOptions=chartOptions content=chartData }}
    {{/if}}
  </div>
</div>
