.question-wrapper {
    // background: #fff;
}

.question-wrapper .md-input {
  font-size: 20px;
  font-weight: 600;
}

.ask-question-wrapper {
  .input-title {
    border: 1px solid darken($app-bg, 10%);
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.5rem;
    font-weight: 600;
    outline: none;
  }
}
