.question-wrapper {
    background: #fff;
}

.question-wrapper .md-input {
  font-size: 20px;
  font-weight: 600;
}

.ask-question-wrapper {
  .input-title {
    border: none;
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    outline: none;
  }
}
