.login-wrapper {
  padding: 20px;
  min-height: 200px;
  width: 340px;
  background: #FFF;
  margin: 0 auto;
  border: 1px solid rgba(228, 225, 225, 0.77);
  margin-top: 100px;

  button {
    width: 100%;
  }
}
