html,
body {
  background: $app-bg;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $text-grey-dark;
  font-size: 16px;
  font-family: 'SourceSansPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, select, html, textarea, input {
  font-family: 'SourceSansPro', sans-serif;
}

a {
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  color: $app-primary;
  transition: color 0.2s;
  &:hover {
    color: darken($app-primary, 10%);
  }
}

button {
  font-weight: 600 !important;
}

md-icon.md-default-theme, md-icon {
    color: rgba($text-light, 0.5);
}

.fr-box.fr-basic.fr-top .fr-wrapper, .fr-toolbar.fr-top {
  box-shadow: none !important;
  border: 0 !important;
}

.fr-box {
  border: 1px solid darken($app-bg, 10%);
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: rgba($text-grey-light, 0.5);
}

.app-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 68px;  // to offset fixed header
  margin-bottom: 2rem;
  min-height: 40rem; // footer fix
}

.router-index {
  margin-left: 240px; // to offset sidebar
}

.app-loader {
  margin: 0 auto;
  margin-top: 100px;
}

@media (max-width: 599px) {
  .app-wrapper {
    padding-top: 60px;
  }
  .router-index {
    margin: 0;
  }
}