.quick-search-input {
  width: 240px;
  outline: none;
  padding-left: 10px;
}

.quick-search-wrapper {
  position: absolute;
  top: 27px;
  border: 1px solid #eee;
  width: 240px;
  height: 300px;
  color: #000;
  overflow-y: scroll;
  background: #fff;
  list-style: none;
  padding: 5px;

  li {
    padding: 5px;

    &.result-info {
      text-align: center;
      margin-top: 10px;
    }
  }
}
