$quick-search-width: 20rem;
$app-search-width: 30rem;

.quick-search-input,
.app-search-input {
  width: $quick-search-width;
  outline: none;
  border: 2px solid $text-dark;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem;
}

.quick-search-wrapper {
  position: absolute;
  top: 28px;
  width: $quick-search-width;
  height: 300px;
  color: $text-dark;
  overflow-y: scroll;
  background: #fff;
  list-style: none;
  padding: 0.25rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  li {
    padding: 5px;
    &.result-info {
      text-align: center;
      margin-top: 10px;
    }
  }
}

.app-search-input{
  margin: 30px 15px;
  width: $app-search-width;
}
