.quick-search-input {

}

.quick-search-wrapper {
  position: absolute;
  top: 30px;
  border: 1px solid #eee;
  width: 240px;
  height: 300px;
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-word;
  
  &--fadeout {
    -webkit-animation: slidefromtop 0.3s;
    animation: slidefromtop 0.3s;
  }
}

@keyframes slidefromtop {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
