//
// Variables
// --------------------------------------------------
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$app-color:#333 !default;
$app-bg: #f7f8f9 !default;
$text-dark: #656e8a;
$text-light: #959fbb;