//
// Variables
// --------------------------------------------------
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$app-color:#333 !default;
$app-bg: #f7f8f9 !default;
$app-primary: #4a90e2 !default;
$app-secondary: #ee598e !default;
$text-dark: #656e8a;
$text-light: #959fbb;
$text-grey-dark: #333;
$text-grey-light: #666;