<div class="loader-shimmer">
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
  <div class="spin-item">
    <box class="shine"></box>
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
</div>
