<div class="route-home">
  {{#if (gt discussion.content.length 0) }}
    <div class="home-wrapper">
      <div class="forum-list-wrapper p-3">
      {{route-home/forum-list data=discussion}}
      </div>
    </div>
  {{else}}
    {{app/app-loader level2=true}}
  {{/if}}
</div>
