<div class="loader-shimmer shimmer-tags">
  <div class="spin-item">
    <div class="holder">
      <lines class="shine one"></lines>
      <lines class="shine two"></lines>
      <lines class="shine three"></lines>
    </div>
  </div>
</div>
