{{#if hasMoreContent}}
  <div class="lazy-loading-wrapper">
      {{#if inProgress}}
        {{#paper-button raised=true primary=true class="load-more-btn"}}
          <div class="lazy-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        {{/paper-button}}
      {{else}}
        {{#paper-button raised=true primary=true class="load-more-btn" onClick=(action 'lodaMore')}}
          Load More
        {{/paper-button}}
      {{/if}}
  </div>
{{/if}}
