.author-bio-wrapper {
    h3.name {
        color: $text-dark;
    }
    .inner-container {
        color: $text-light;
        font-size: 12px;
    }
    md-icon.md-default-theme, md-icon {
    opacity: 0.5;
      
    }
}