.author-bio-wrapper {
  h3.name {
    color: $text-dark;
  }
  .inner-container {
    color: $text-light;
    font-size: 0.75rem;
  }
  .md-list-item-inner {
    padding-left: 0px;
  }
  .avatar-holder {
    width: 50px !important;
    height: 50px !important;
    margin-right: 1rem;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .avatar-initial {
    color: #FFF;
    text-align: center;
    font-size: 1rem !important;
    font-weight: 600;
    line-height: 50px !important;
    background-image: linear-gradient(135deg, lighten( $app-primary, 15%), lighten( $app-secondary, 15%));
  }
  md-list-item.md-2-line .md-list-item-text,
  md-list-item.md-2-line>.md-no-style .md-list-item-text {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.author-wrapper {
  position: relative;
}
