.card-container{
  padding: 0.5rem;
  .card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(96, 97, 190, 0.15);
  padding: 0.5rem 1rem;
  width: 15rem;
  h3 {
    color: $text-light;
    font-weight: 600;
    font-size: 0.75rem;
  }
  h1 {
    color: $app-primary;
    font-weight: 600;
    font-size: 1rem;
  }
}
}
