.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
  min-height: 13rem;
  padding-bottom: 1rem;
  .answer {
    position: relative;
    margin-left: 3.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    h1,
    h2,
    h3 {
      font-weight: 600;
    }
    h1 {
      font-size: 1.25rem;
    }
    h2 {
      font-size: 1.125rem;
    }
    h3 {
      font-size: 1rem;
    }
    .vote-wrapper {
      position: absolute;
      top: 0;
      left: -3rem;
      .correct {
          cursor: pointer;
          margin-left: 0.375rem;
          &:hover {
            md-icon.md-default-theme, md-icon {
              color: darken($app-primary, 10%);
            }
          }
          &.selected, &.selected:hover{
            cursor: default;
            md-icon.md-default-theme, md-icon {
                color: $app-success;
            }
          }
      }
    }
    .info-left,
    .info-right {
      float: left;
    }
  }
}

.reply-wrapper {
  margin-left: 2.5rem;
  margin-top: 2rem;
  .reply {
    margin: 0.5rem 0 0 3rem;
    font-size: 0.875rem;
    color: #666666;
    border-top: dashed 1px rgba(0, 0, 0, 0.1);
    p {
      margin: 0.5rem;
    }
  }
  .time {
    color: $text-light;
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }
}

.comment-reply-btn {
  position: absolute;
  right: 0px;
  top: 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.comment-wrapper {
  padding-top: 15px;
}
