.profile-dropdown {
  padding: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  border: 1px #dadfe3 solid;
  min-width: 200px;
  top: 38px;
  right: 2px;
  border-radius: 2px;
  animation: dd-fade-below 0.15s;
  left: auto;
  right: 0;
  top: 39px;

  &::after,
  &::before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(211, 219, 218, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
    right: 20px;
  }

  &::before {
    border-color: rgba(229, 229, 229, 0);
    border-bottom-color: #dadfe3;
    border-width: 6px;
    margin-left: -6px;
    right: 19px;
  }
}

.dropdown-item {
  cursor: pointer;
  display: block;
  padding: 4px 10px;
}

.dropdown-item:hover {
  background-color: $dropdown-hover;
}
