.forum-list {
  background: #FFF;
  position: relative;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  box-shadow: 0 0.5px 0.5px 0 rgba(96, 97, 190, 0.15);
  border-radius: 3px;

  .avatar-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%,-50%);

    img {
      width: 100%;
    }
  }

  .holder {
    margin-left: 65px;
    .list-left {
      max-width: 75%;
      display: inline-block;
      vertical-align: middle;
    }
    .list-right {
      max-width: 25%;
      display: inline-block;
      vertical-align: middle;

      .listinfo-holder {
        .item {
          padding-top: 2px;
          padding-bottom: 2px;
        }
        margin-right: 32px;
        margin-left: 16px;
      }
    }
  }

  :hover {
    cursor: pointer;
  }
  .form-list-title {
    color:#239cff;
  }
  .form-list-desc {
    font-size: 12px;
    text-align: left;
    color: #6f7c87;
  }

  .list-caption {
    padding-right: 4px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(101, 110, 138, 0.55);
  }

  .list-value {
         color: #656e8a;
    font-size: 12px;
    font-weight: 600;
  }

  .list-like-count {
    color: rgba(101, 110, 138, 0.55);
    font-size: 12px;
  }

  .list-like-color {
    md-icon.md-default-theme, md-icon {
    color: #ff1744 !important;
      
    }
  }

}
