.forum-list {
  background: #FFF;
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 14px;
  box-sizing: border-box;
  box-shadow: 0 0.5px 0.5px 0 rgba(96, 97, 190, 0.15);
  border-radius: 3px;

  .avatar-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%,-50%);

    img {
      width: 100%;
    }
  }

  .avatar-initial {
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background-image: linear-gradient(135deg, lighten( $app-primary, 15% ),lighten( $app-secondary, 15% ));
  line-height: 50px;
}

  .holder {
    margin-left: 65px;
    .list-right {
      .listinfo-holder {
        .item {
          padding-top: 2px;
          padding-bottom: 2px;
        }
        margin-right: 2rem;
        margin-left: 1rem;
      }
    }
  }

  :hover {
    cursor: pointer;
    .form-list-title {
      color:$app-primary;
    }
  }
  .form-list-title {
    font-size: 0.875rem;
  }
  .form-list-desc {
    font-size: 0.75rem;
    text-align: left;
    color: $text-grey-light;
  }

  .list-caption {
    padding-right: 4px;
    font-weight: 500;
    font-size: 0.75rem;
    color: $text-light;
  }

  .list-value {
    color: $text-dark;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .list-like-count {
    color: $text-light;
    font-size: 0.875rem;
  }

  .list-like-color {
    md-icon.md-default-theme, md-icon {
    opacity: 0.5;

    }
  }

}
@media (max-width: 599px) {
  .forum-list {
    .holder {
    .list-right {
      margin-top: 0.5rem;
      .listinfo-holder {
        margin-left: 0;
      }
    }
    }
  }
}