.f-editor {
  .forli-editor {
    min-height: 200px;
    background: #FFF;
    border: 1px solid darken($app-bg, 10%);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;

    p {
      padding: 0;
      margin: 0;
    }
  }
}

.medium-editor-placeholder:after {
  color: rgb(187, 187, 187);
}
