header {
  position: fixed;
    width: 100%;
    z-index: 9999;
}

.toolbar-bottom {
  height: 4px;
  background-image: linear-gradient(to right, $app-primary, $app-secondary);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) {
  background-color: #fff;
  color: $text-dark;

  md-icon {
    color: $text-dark;
    fill: #fff;
  }

  // .md-button[disabled] md-icon {
  //   color: '{{primary-contrast-0.26}}';
  //   fill: '{{primary-contrast-0.26}}';
  // }
}

.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
  font-size: 1.125rem;
}

.login-button {
  line-height: 28px;
  min-height: 28px;
  min-width: 70px;
  text-transform: capitalize;
}

.bring-back {
  z-index: 1;
}
