header {
  position: fixed;
    width: 100%;
    z-index: 9999;
}

.toolbar-bottom {
  height: 4px;
  background-image: linear-gradient(to right, #4a90e2, #ee598e);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) {
  background-color: #fff;
  color: $text-dark;

  md-icon {
    color: $text-dark;
    fill: #fff;
  }

  // .md-button[disabled] md-icon {
  //   color: '{{primary-contrast-0.26}}';
  //   fill: '{{primary-contrast-0.26}}';
  // }
}
