.side-navbar {
  position: fixed;
  width: 240px;
  background: #FFF;
  height: 100%;
  z-index: 99999;
  display: none;
  box-shadow: 5px 10px 15px 5px rgba(96, 97, 190,.1);
  margin-top: 68px; // to offset fixed header

  &.sidebar-state-index {
    box-shadow: none;
    display: block;
  }

  .md-subheader .md-subheader-inner {
    padding: 12px 20px;
  }

  md-list-item.md-no-proxy, md-list-item .md-no-style {
    padding: 0px 32px;
  }

  md-list-item, md-list-item .md-list-item-inner {
    min-height: 32px;
  }

  md-list-item::before, md-list-item .md-list-item-inner::before {
    min-height: 32px;
  }
}
md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
  min-height: 20px;
}
.ask-btn-wrapper {
  a {
    display: block;
    margin: 16px 32px;
  }
  button {
    display: block;
    width: 90%;
    font-weight: 600;
  }
}
.md-subheader .md-subheader-content {
  color: $text-dark;
    font-weight: 600;
}

.md-list-item-inner > p, md-list-item .md-list-item-inner > p {
    color: $text-light;
    font-size: 0.875rem;
}

.tag-item {
  padding-left: 10px;
  border-left: 2px solid $app-primary;
}
