.side-navbar {
  position: fixed;
  width: 240px;
  background: #FFF;
  height: 100%;
  z-index: 99999;
  display: none;
  box-shadow: 5px 10px 15px 5px rgba(96, 97, 190,.1);
  &.sidebar-state-index {
    box-shadow: none;
    display: block;
  }
}
md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
  min-height: 20px;
}
.ask-btn-wrapper {
  a {
    display: block;
    margin: 16px 32px;
  }
  button {
    display: block;
    width: 90%;
    font-weight: 600;    
  }
}
.md-subheader .md-subheader-content {
  color: #656e8a;
    font-weight: 600;
}

.md-list-item-inner > p, md-list-item .md-list-item-inner > p {
    color: #959fbb;
}