.tag-container {
  display: inline-block;
  .tag {
    padding: 2px 4px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 2px;
    font-size: 10px;
    background-color: #ffc14b;
    color: #fff;
  }
}