.tag-container {
  .tag {
    padding: 2px 5px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 2px;
    font-size: 11px;
        background-color: #ffc14b;
    color: #fff;
  }
}