.tag-container {
  display: inline-block;
  .tag {
    padding: 1px 4px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;
  }
  .tag-disabled {
    background-color: #fff;
    color: $text-light;
    border-color: $text-light;
    border: 1px solid;
  }
  &.tags-large {
    .tag {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
    }
  }
}

// tag style over-ridding

.md-chips.md-removable md-chip {
  background-color: #fff !important;
  color: $app-primary;
  font-size: 0.875rem;
  border-radius: 1rem;
  border: 1px solid $app-primary;
}

.md-chips md-chip .md-chip-remove md-icon {
  color: $app-primary !important;
  font-size: 0.875rem !important;
}

// .md-chip-input-container {
//   margin-top: 3px !important;
// }

// .md-chips md-chip .md-chip-remove {
//   width: 20px;
//   height: 20px;
//   height: 14px;
// }

.tag-detailsList {
  padding: 40px;
  color: #FFF;
  display: inline-block;
  margin: 10px;

  a,
  a:hover,
  a:focus,
  a:visited {
    color: #FFF;
  }
}
