.vote-container {
    display: inline-block;
    .vote {
        cursor: pointer;
        &:hover {
          md-icon.md-default-theme, md-icon {
            color: darken($app-primary, 10%);
          }
        }

        &.vote-up.voted, &.vote-up.voted:hover{
            cursor: default;

            md-icon.md-default-theme, md-icon {
                color: $app-success;
            }
        }
        &.vote-down.voted, &.vote-down.voted:hover{
            cursor: default;

            md-icon.md-default-theme, md-icon {
                color: $app-danger;
            }
        }
    }
    .vote-count {
        text-align: center;
        font-size: 1.125rem;
        font-weight: 600;
        color: $text-dark;
    }
}
