{{input
  placeholder='Search forli'
  value=term
  autofocus=true
  on-change=(action (mut term))
  key-down=(perform searchResults)
  class="quick-search-input"
}}

{{#if isTermPresent}}
  <div class="quick-search-wrapper quick-search-wrapper--fade-in">
    {{#if searchResults.isRunning}}
      Loading..
    {{else}}
      {{#each searchResults.lastSuccessful.value.discussions as |discussion|}}
          {{#link-to 'discussion' discussion.id class="cursor-pointer" target=target}}
            <h1 class="ellipsis">{{discussion.title}}</h1>
          {{/link-to}}
      {{/each}}
      {{#if showLinkToPage}}
        {{#link-to 'search' (query-params term=term)}} View All Results {{/link-to}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
