<div class="layout-row layout-xs-column">
  <div class="flex-70 flex-offset-15">
    {{#paper-form onSubmit=(action "basicSubmitAction") as |form|}}
    <div class="layout-row">
      <div class="layout-column flex">
      {{form.input label="Title of your question" value=firstName onChange=(action (mut firstName)) required=true}}
      </div>
    </div>
    <div class="editor-wrapper">
      {{app/forli-editor}}
    </div>
    <div class="btn-wrapper">
      {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
    </div>
    {{/paper-form}}
    
  </div>
</div>