<div class="vote-container">
    <a class="vote-up" title="Upvote">{{paper-icon "keyboard_arrow_up" size=30}}</a>
    <div class="vote-count">20</div>
    <a class="vote-down" title="Downvote">{{paper-icon "keyboard_arrow_down" size=30}}</a>
</div>