<div class="global-header">
  <div class="holder">
    <div class="text-bold logo">Falcon</div>
    <div class="nav-user-info">
      <div class="item search-con">
        <div>{{svg-jar "search" class="icon" width="30px"}}</div>
      </div>
      <div class="item">
        <div class="user-pic"><img src="/assets/images/tom.jpeg" /> </div>
      </div>
      <div class="item searchIcon">
        {{svg-jar "add" class="icon" width="25px"}}
      </div>
    </div>
  </div>
  <div class="header-strip"></div>
</div>
