{{#app/app-container}}
  {{app/global-header}}
  {{app/side-bar routeName=(concat 'sidebar-state-' currentRouteName)}}
  <div class="app-wrapper router-{{currentRouteName}}">
    {{outlet}}
  </div>
{{/app/app-container}}
