<div class="login-wrapper">
  {{#paper-form onSubmit=(action "authenticate") as |form|}}
    <div class="layout-row">
      <div class="layout-column flex-100" style="padding-top: 25px;">
        <div class="error">
          {{errors}}
        </div>
        {{form.input label="Email" value=email onChange=(action (mut email)) type="email" customValidations=emailValidation}}
        {{form.input label="Password" value=password onChange=(action (mut password)) required=true type="password" }}
      </div>
    </div>
    <div class="layout-row">
      {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}
    </div>
  {{/paper-form}}
</div>
